* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  position: relative;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px 0;
}

.playerHealthBar {
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border: 4px solid white;
  border-right: none;
}

.enemyHealthBar {
  background-color: red;
  width: 100%;
  border: 4px solid white;
  border-left: none;
}

#playerHealth,
#enemyHealth {
  background-color: #818cf8;
  width: 100%;
  height: 30px;
  transition: width 0.3s ease-in-out;
}

#timer {
  background-color: black;
  height: 50px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  color: white;
}

#gameStatus {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
